## Importing Libraries

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import yfinance as yf

### NIFTY 50 INDEX

#####Importing symbols(tickers) from Wikipedia using pd_html
#####Using tickers for importing data from Yahoo Finance ie NIFTY 50 Indexes

In [2]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[2]['Symbol']
print(tickers)

0       ADANIENT
1     ADANIPORTS
2     APOLLOHOSP
3     ASIANPAINT
4       AXISBANK
5     BAJAJ-AUTO
6     BAJFINANCE
7     BAJAJFINSV
8           BPCL
9     BHARTIARTL
10     BRITANNIA
11         CIPLA
12     COALINDIA
13      DIVISLAB
14       DRREDDY
15     EICHERMOT
16        GRASIM
17       HCLTECH
18      HDFCBANK
19      HDFCLIFE
20    HEROMOTOCO
21      HINDALCO
22    HINDUNILVR
23     ICICIBANK
24    INDUSINDBK
25          INFY
26           ITC
27      JSWSTEEL
28     KOTAKBANK
29            LT
30          LTIM
31           M&M
32        MARUTI
33     NESTLEIND
34          NTPC
35          ONGC
36     POWERGRID
37      RELIANCE
38       SBILIFE
39          SBIN
40     SUNPHARMA
41    TATAMOTORS
42     TATASTEEL
43           TCS
44    TATACONSUM
45         TECHM
46         TITAN
47    ULTRACEMCO
48           UPL
49         WIPRO
Name: Symbol, dtype: object

## Data Preparation (Iterating using For Loop for all 50 Tickers)
#### Importing data from Yahoo Finance using yf library
#### Setting end date as present (latest) and start date as present - last 15 years using timedelta function from datetime library
#### Setting interval as 1 day, pre-opening,post-closing as false
#### Prev_Close(New column) = Shifting 1 row of Close below
#### Prev_Volume(New column) = Shifting 1 row of Volume below

Why not considering Volume?
Volume is associated with previous day close fundamentally

In [3]:
from datetime import datetime
for ticker in tickers[0:1]:
  end_date = datetime.now()
  start_date = end_date - timedelta(days=15*365)

  history = yf.download(ticker+".NS", start_date, end=end_date , interval='1d' , prepost=False)
  history = history.loc[: , ['Open', 'Close', 'Volume']]
  history['Prev_Close'] = history.loc[: , 'Close'].shift(1)
  history['Prev_Volume'] = history.loc[: , 'Volume'].shift(1)

  display(history)

[*********************100%***********************]  1 of 1 completed

                   Open        Close   Volume   Prev_Close  Prev_Volume
Date
2008-07-31    49.048019    48.837265   293407          NaN          NaN
2008-08-01    48.523052    50.017483   581190    48.837265     293407.0
2008-08-04    49.814396    49.661118   150187    50.017483     581190.0
2008-08-05    49.124657    50.542450   142802    49.661118     150187.0
2008-08-06    45.446053    49.538498   379853    50.542450     142802.0
...                 ...          ...      ...          ...          ...
2023-07-21  2410.000000  2416.300049  2280563  2419.750000    1564275.0
2023-07-24  2430.000000  2418.199951  1113193  2416.300049    2280563.0
2023-07-25  2428.000000  2466.649902  3017555  2418.199951    1113193.0
2023-07-26  2472.449951  2470.750000  4021773  2466.649902    3017555.0
2023-07-27  2470.750000  2428.399902  2243944  2470.750000    4021773.0

[3694 rows x 5 columns]

## Changing Date time
### Converting each datetime object in the "datetimes" list to a pandas Timestamp object, and then use the weekday() method to get the integer representation of the weekday (0 for Monday, 1 for Tuesday, ..., 6 for Sunday). The resulting weekdays are stored in the "weekdays" list.

In [4]:
datetimes = history.index.values
weekdays = []


# Converting datetime into string
for dt in datetimes:
  #print(dt)
  dt = datetime.strptime(str(dt) ,'%Y-%m-%dT%H:%M:%S.000000000')
  weekdays.append(dt.weekday())

 # Adding new column Weekday for assigning week days number
history['Weekday'] = weekdays

display(history)

,Open,Close,Volume,Prev_Close,Prev_Volume,Weekday
Date,,,,,,
2008-07-31,49.048019,48.837265,293407,NaN,NaN,3
2008-08-01,48.523052,50.017483,581190,48.837265,293407.0,4
2008-08-04,49.814396,49.661118,150187,50.017483,581190.0,0
2008-08-05,49.124657,50.542450,142802,49.661118,150187.0,1
2008-08-06,45.446053,49.538498,379853,50.542450,142802.0,2
...,...,...,...,...,...,...
2023-07-21,2410.000000,2416.300049,2280563,2419.750000,1564275.0,4
2023-07-24,2430.000000,2418.199951,1113193,2416.300049,2280563.0,0
2023-07-25,2428.000000,2466.649902,3017555,2418.199951,1113193.0,1
2023-07-26,2472.449951,2470.750000,4021773,2466.649902,3017555.0,2
2023-07-27,2470.750000,2428.399902,2243944,2470.750000,4021773.0,3

## Dropping rows NaN values
### Converting Infinite values ie number divided by 0 to NaN : by using replace(np.inf,np.nan)
### Dropping these NaN values: using drop.na()

In [10]:
history= history.replace(np.inf , np.nan).dropna()

## Machine Learning
### Using Linear Regression to predict Close price
### Data: Train, Test sampling split should be sequentially because it is a Time-Series Data a

In [85]:
from sklearn.linear_model import LinearRegression

y = history['Close']
x = history.drop(['Close' , 'Volume'], axis = 1)

# variable num_test = 365 to determine how many data points
# will be used for testing the model's performance

num_test = 365
# Train data: All rows except last 365 days
# Test data: All columns starting from last 365 days

x_train = x[:-1*num_test]
y_train = y[:-1*num_test]
x_test = x[-1*num_test:]
y_test = y[-1*num_test:]

#(Extracting number of Samples and number of Features)
print(x_train.shape , y_train.shape , x_test.shape, y_test.shape)

(3328, 4) (3328,) (365, 4) (365,)

In [86]:
model = LinearRegression()
model = model.fit(x_train , y_train)
preds = model.predict(x_test)
print(type(preds))
print(type(y_test))

print(ticker)

print(y_test)
print(preds)

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
ADANIENT
Date
2022-02-07    1731.800049
2022-02-08    1716.000000
2022-02-09    1783.150024
2022-02-10    1786.099976
2022-02-11    1764.300049
                 ...
2023-07-21    2416.300049
2023-07-24    2418.199951
2023-07-25    2466.649902
2023-07-26    2470.750000
2023-07-27    2428.399902
Name: Close, Length: 365, dtype: float64
[1763.46710756 1737.75070648 1722.16429785 1792.11670242 1780.01604079
 1756.43946172 1655.80341129 1747.05564329 1745.44879592 1736.65096262
 1740.39062378 1668.78551274 1676.0273081  1666.67090613 1565.8369166
 1615.74028705 1644.58520772 1655.42416384 1637.55803662 1608.09363177
 1571.01526156 1607.36329832 1669.10857644 1748.18278865 1736.36896836
 1740.60808381 1713.05485591 1767.62815886 1829.28693802 1806.01224012
 1841.00141512 1815.35391485 1836.56852727 1874.1787801  1916.6499894
 1924.42961427 2002.08954891 2018.93518978 2049.69482673 2074.0649893
 2148.62589936 2165.61238791 2108.330632   2178.95189886 2186.86543818
 2205.53657863 2195.51277318 2241.90702923 2175.55428095 2199.88378075
 2293.85488118 2271.92577856 2292.98068711 2402.82591297 2347.74017297
 2386.12593872 2333.20360868 2350.75452591 2263.59109968 2240.84944282
 2244.39873434 2198.27388538 2112.90012739 2116.13187077 2063.62856249
 2068.90699988 2120.05733832 2194.16744379 2170.24418413 2135.24040661
 2228.14644876 2170.4483187  2166.71223653 2078.44148064 2062.50101805
 2099.41035593 2167.0147355  2171.90247149 2155.79327657 2222.6772283
 2193.16408141 2222.80050109 2237.90615172 2173.87729399 2210.96774816
 2194.85696578 2159.53370824 2208.43153121 2195.95163507 2077.77271623
 2103.91842791 2091.19598101 2160.58432344 2098.59222476 2117.62921706
 2176.00100124 2180.65479602 2200.40278455 2223.43778518 2193.70464832
 2236.00240056 2266.41563328 2249.44436819 2279.13094838 2282.23382285
 2296.97410207 2373.64576889 2372.47556996 2361.60997642 2398.93488131
 2416.69930285 2421.03134575 2459.38220717 2455.90230112 2503.0797835
 2505.82827394 2556.48178786 2563.85331537 2556.97839944 2559.88224699
 2576.13592842 2664.40273867 2688.39121773 2720.86321877 2741.89037283
 2703.52646625 2800.12714716 2836.89848625 2840.54247141 2874.85038023
 2984.45416993 3011.75127292 3167.77457754 3136.70578961 3048.98000232
 3038.17630865 3152.03106344 3076.15220777 3111.43484065 3156.40304093
 3201.3022473  3248.86969384 3368.3674298  3361.01791336 3441.07254696
 3488.87095879 3474.22520596 3462.22294406 3474.85793146 3546.37033898
 3584.46214336 3756.57042963 3714.64278726 3800.40686013 3841.60432521
 3645.00749547 3727.84910066 3669.18704041 3595.66924755 3552.30634532
 3567.71203419 3466.47692749 3455.09684942 3190.74277985 3255.15547251
 3287.80040439 3265.80430486 3255.85146502 3288.04452998 3226.24163405
 3253.43674592 3215.34285457 3232.00546033 3295.5452286  3275.40296551
 3368.98223042 3322.45693609 3319.86363779 3313.08324397 3328.69040628
 3335.26342293 3358.46390337 3582.81947196 3573.98171807 3615.93041335
 3846.8362313  3972.99599814 4002.25942645 4016.82835736 4011.39891867
 4029.82375102 4063.82591344 3967.7480451  4028.01148918 4026.29553073
 4008.11923537 4046.45828026 3911.74233273 3929.90181821 3906.66694542
 3891.8076276  3891.97166729 3931.45629449 3916.86808531 3931.31290639
 3932.45404965 4037.62026703 4009.49669655 4038.36557538 4003.26349489
 4027.37087596 4072.63082261 4061.87835993 4039.91203012 3990.00477166
 4089.41417381 4175.42027499 3925.83465451 3855.87555722 3652.28628865
 3728.75398664 3770.08691564 3800.36784391 3823.67450943 3869.12617464
 3847.52397442 3840.01073422 3832.79588962 3835.09651128 3837.78244953
 3862.82804078 3657.60264766 3643.86752828 3654.11017808 3726.6995837
 3625.57897396 3648.34349144 3552.2508122  3463.22952149 3456.61203807
 3446.16719581 3439.45002005 3372.64460245 2800.49365773 2931.23406708
 2986.55279155 2222.19209767 1537.09936107 1583.92762071 1574.27984672
 1831.68777586 2168.56105659 1866.49361048 1851.14644551 1727.11397114
 1764.09791837 1797.74844559 1800.45178479 1697.10286384 1625.88587077
 1559.3793612  1397.03529197 1395.22050303 1311.78857774 1176.37076543
 1388.90610612 1540.9276884  1640.99456958 1916.50980743 2007.8407004
 2046.4405773  1923.03475776 1907.49387524 1877.23963105 1749.64428508
 1850.18692722 1868.83825604 1864.18986402 1820.48312727 1830.95615735
 1809.73455763 1797.3363351  1743.62721226 1727.81689174 1604.11690484
 1761.44048321 1753.47539235 1720.18535892 1703.31149098 1764.89115879
 1805.23266295 1810.28926635 1853.04531605 1873.99052793 1887.08022878
 1852.35216097 1857.12299918 1846.79496703 1806.56871119 1806.57920488
 1851.16509372 1850.75257357 1861.64232883 1932.00710792 1922.53789398
 1841.73014829 1931.06658802 1923.54143103 1895.55217789 1900.25593956
 1907.94890098 1996.92436704 1966.18088882 1923.48245342 1896.41052148
 1906.50291548 1891.94871336 1980.50765482 2362.59074736 2666.712195
 2464.79092694 2551.80125488 2558.64121514 2536.27105357 2494.69163055
 2499.63336121 2512.62362584 2456.20719989 2454.0178467  2444.95799742
 2447.33295721 2440.02611403 2458.75561521 2494.39506785 2469.29635915
 2465.53911387 2494.54668564 2511.45434782 2418.269426   2423.25747789
 2416.97437192 2398.62399144 2227.77730789 2312.31150688 2288.01726006
 2348.14641802 2398.66320546 2393.89245081 2392.74272698 2402.77567208
 2403.27963244 2388.81374212 2419.43555883 2429.44974805 2395.10499759
 2370.59553725 2389.48635091 2414.98050328 2425.2098574  2429.46988788
 2419.45124596 2425.75191203 2426.01280083 2472.77205954 2474.43278247]

In [87]:
len(y_test)
len(preds)

AttributeError: ignored

In [88]:
print(y_test)

Date
2022-02-07    1731.800049
2022-02-08    1716.000000
2022-02-09    1783.150024
2022-02-10    1786.099976
2022-02-11    1764.300049
                 ...
2023-07-21    2416.300049
2023-07-24    2418.199951
2023-07-25    2466.649902
2023-07-26    2470.750000
2023-07-27    2428.399902
Name: Close, Length: 365, dtype: float64

In [93]:
#print(preds)
print(type(preds))
#len(preds)
print(preds.shape)

<class 'numpy.ndarray'>
(365,)

AttributeError: ignored